ex 1

In [ ]:
for cont in range(0,101):
  print("tijolo ", cont)

ex 2

In [ ]:
for cont in range(0,51,2):
  print("poste ", cont)

ex 3

In [ ]:
for cont in range(1,101,2):
  print("jogador ", cont)

ex 4

In [ ]:
soma = 0
for cont in range(5):
  num1 = float(input("digite a quantia: "))
  soma += num1
media = soma/5
print("quantia total =", soma)
print("media = ", media)

ex 5

In [ ]:
for cont in range(0,11):
  if(cont == 0,2,4,6,8,10):
    print("par", cont)
  elif(cont == 1,3,5,7,9):
    print("impar")

In [ ]:

pares = 0
impares = 0
for num in range(1,11):
    if num % 2 == 0:
        pares += 1
    else:
        impares += 1
print("Quantidade de números pares: ", pares)
print("Quantidade de números ímpares: ", impares)

ex 6

In [ ]:
num = int(input("digite um numero "))
for cont in range(1,11):
  resultado = num*cont
  print(f"{num} x {cont} = {resultado}")

ex 7

In [ ]:

for cont in range(1,11):
  print(f"tabuada do {cont}") #exibição
  for num in range(1,11):
   resultado = num*cont
   print(f"{num} x {cont} = {resultado}")

ex 8

In [ ]:
for cont in range(1,21):
  print(cont)
print()
for cont in range(1,21):
  print(cont, end=' ')

ex 9

In [ ]:
for cont in range(1,51,2):
  print("livro ID ", cont)

ex 10

In [93]:
x = int(input("digite um numero"))
y = int(input("digite um numero"))

for cont in range(x,y):
  print(cont)

digite um numero10
digite um numero1

ex 11

In [109]:
y = 0
for cont in range(5):
  x = float(input("digite o valor das vendas"))
  y += x
if(y > 54000):
  print("o valor passou de R$54.000")
  z = y - 54000
  print(f"valor ultrapassado R${z:.3f}")
elif(y == 54000):
  print(" voce faturou R$54000")
else:
  print("voce nao bateu o faturamento esperado")

digite o valor das vendas0
digite o valor das vendas0
digite o valor das vendas0
digite o valor das vendas0
digite o valor das vendas0
voce nao bateu o faturamento esperado

ex 12

In [113]:
print("robos correndo")
for robos in range(0,21, 2):
  print(robos, end= ' ')

robos correndo
0 2 4 6 8 10 12 14 16 18 20

ex 13

In [116]:
for cont in range(1000,2001):
  if cont % 11 == 2:
   print("ganhador", cont)

ganhador 1003
ganhador 1014
ganhador 1025
ganhador 1036
ganhador 1047
ganhador 1058
ganhador 1069
ganhador 1080
ganhador 1091
ganhador 1102
ganhador 1113
ganhador 1124
ganhador 1135
ganhador 1146
ganhador 1157
ganhador 1168
ganhador 1179
ganhador 1190
ganhador 1201
ganhador 1212
ganhador 1223
ganhador 1234
ganhador 1245
ganhador 1256
ganhador 1267
ganhador 1278
ganhador 1289
ganhador 1300
ganhador 1311
ganhador 1322
ganhador 1333
ganhador 1344
ganhador 1355
ganhador 1366
ganhador 1377
ganhador 1388
ganhador 1399
ganhador 1410
ganhador 1421
ganhador 1432
ganhador 1443
ganhador 1454
ganhador 1465
ganhador 1476
ganhador 1487
ganhador 1498
ganhador 1509
ganhador 1520
ganhador 1531
ganhador 1542
ganhador 1553
ganhador 1564
ganhador 1575
ganhador 1586
ganhador 1597
ganhador 1608
ganhador 1619
ganhador 1630
ganhador 1641
ganhador 1652
ganhador 1663
ganhador 1674
ganhador 1685
ganhador 1696
ganhador 1707
ganhador 1718
ganhador 1729
ganhador 1740
ganhador 1751
ganhador 1762
ganhador 1773
ganhador 1784
ganhador 1795
ganhador 1806
ganhador 1817
ganhador 1828
ganhador 1839
ganhador 1850
ganhador 1861
ganhador 1872
ganhador 1883
ganhador 1894
ganhador 1905
ganhador 1916
ganhador 1927
ganhador 1938
ganhador 1949
ganhador 1960
ganhador 1971
ganhador 1982
ganhador 1993

ex 14

In [127]:
for cont in range(10,0, -1):
  print(cont)
print("lançar foguete!")

10
9
8
7
6
5
4
3
2
1
lançar foguete!

ex 15

In [ ]:
y = 0
for cont in range(30):
  x = float(input("digite o valor das moedas"))
  y += x
  print(y)

ex 16

In [134]:
x = 0

for cont in range(1, 6):
    y = float(input(f"Digite o peso do boi {cont}: "))
    if y > x:
        x = y

print(f"o boi mais pesado pesa {x} kg.")

Digite o peso do boi 1: 10
Digite o peso do boi 2: 23
Digite o peso do boi 3: 56
Digite o peso do boi 4: 90
Digite o peso do boi 5: 22
o boi mais pesado pesa 90.0 kg.

ex 17

In [139]:
salario = float(input("Digite o salário do funcionário em 1995: "))
x = 1995
y = 2025
a = 1.5 / 100

salario += salario * a

for ano in range(1997, y + 1):
    a *= 2
    aumento = salario * a
    salario += aumento

print(f"O salário do funcionário em {y} é R$ {salario:.2f}")

Digite o salário do funcionário em 1995: 0
O salário do funcionário em 2025 é R$ 0.00

ex 18

In [140]:
x = 0

for cont in range(1, 11):
    y = int(input(f"Digite a quantidade em estoque do produto {cont}: "))
    x += y

print(f"\nO total de produtos em estoque é: {x}")

Digite a quantidade em estoque do produto 1: 20
Digite a quantidade em estoque do produto 2: 23
Digite a quantidade em estoque do produto 3: 2
Digite a quantidade em estoque do produto 4: 3
Digite a quantidade em estoque do produto 5: 6
Digite a quantidade em estoque do produto 6: 5
Digite a quantidade em estoque do produto 7: 8
Digite a quantidade em estoque do produto 8: 7
Digite a quantidade em estoque do produto 9: 1
Digite a quantidade em estoque do produto 10: 9

O total de produtos em estoque é: 84

ex 19

In [150]:
soma = 0
maior = 0
menor = 10000000

for i in range(1, 8):
  temp = float(input(f"Digite a temperatura do dia {i}: "))
  if temp > maior:
    maior = temp
  if temp < menor:
    menor = temp
  soma += temp
media = soma / 7

print()
print(f"Soma das temperaturas: {soma:.2f}°C")
print(f"Média das temperaturas: {media:.2f}°C")
print(f"Maior temperatura: {maior}°C")
print(f"Menor temperatura: {menor}°C")

Digite a temperatura do dia 1: 10
Digite a temperatura do dia 2: 13
Digite a temperatura do dia 3: 52
Digite a temperatura do dia 4: 95
Digite a temperatura do dia 5: 34
Digite a temperatura do dia 6: 55
Digite a temperatura do dia 7: 87

Soma das temperaturas: 346.00°C
Média das temperaturas: 49.43°C
Maior temperatura: 95.0°C
Menor temperatura: 10.0°C

ex 20

In [143]:
for cont in range(1, 101):
    if cont % 3 == 0 and cont % 5 == 0:
        print("FizzBuzz")
    elif cont % 3 == 0:
        print("Fizz")
    elif cont % 5 == 0:
        print("Buzz")
    else:
        print(cont)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz